name: Narzo50 Kernel Build (KSU + SUSFS Stable)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    # ======================
    # Checkout
    # ======================
    - name: Checkout
      uses: actions/checkout@v4

    # ======================
    # Dependencies
    # ======================
    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        build-essential bc bison flex \
        libssl-dev libncurses5-dev libelf-dev \
        git curl zip wget patch

    # ======================
    # Setup Neutron Clang
    # ======================
    - name: Setup Neutron Clang
      run: |
        mkdir clang
        cd clang
        curl -LO https://raw.githubusercontent.com/Neutron-Toolchains/antman/main/antman
        chmod +x antman
        ./antman -S

    # ======================
    # Clone Kernel
    # ======================
